!/#/bin/bash

pip install atomicwrites==1.1.5
pip install attrs==18.1.0
pip install click==6.7
pip install Flask==1.0.2
pip install Flask-SQLAlchemy==2.3.2
pip install itsdangerous==0.24
pip install Jinja2==2.10
pip install MarkupSafe==1.0
pip install more-itertools==4.2.0
pip install pluggy==0.6.0
pip install py==1.5.4
pip install six==1.11.0
pip install SQLAlchemy==1.2.9
pip install Werkzeug==0.14.1
